.aboutus {
	width: 100vw;
	height: 400px;
	background: var(--ligthwhite);
	align-items: center;
}

.aboutus__navbar {
	width: 100vw;
	position: sticky;
	top: 0px;
	min-height: 12vh;
	/* padding: 2rem 0rem; */
	background: var(--white);
}

.aboutus__body {
	display: flex;
}

.aboutus__left {
	flex: 1;
	padding: 2rem 5rem;
}

.aboutus__right {
	flex: 1;
	padding: 2rem 5rem;
}

.aboutus__right img {
	width: 100%;
}
