.app {
	width: 100vw;
	height: 100vh;
	background: var(--lightBlue);
	overflow: hidden;
}

a {
	text-decoration: none;
}

:root {
	--primaryBlue: #3371f2;
	--Blue80: #547ff3;
	--lightBlue: #ecf2fe;

	--white: #ffffff;

	/* text color */
	--primaryBlack: #333333;
	--primaryBlack11: #666666;
	--primaryBlack22: #999999;
	--lightBlack: #cccccc;

	/* Error */
	--error: #ff0033;
}

.horizontal {
	width: 100%;
	height: 1rem;
}
.horizontal_half {
	width: 100%;
	height: 0.5rem;
}
.vertical {
	height: 100%;
	width: 1rem;
}

.big__text {
	font-size: 3rem;
	font-weight: 400;
	color: var(--primaryBlack);
}
.big__text__11 {
	font-size: 2rem;
	font-weight: 400;
	color: var(--primaryBlack);
}

.header__text {
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--primaryBlack);
}

.text1 {
	font-size: 1rem;
	font-weight: 600;
	color: var(--primaryBlack);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.text2 {
	font-size: 1rem;
	font-weight: 300;
	color: var(--primaryBlack);
}
.detail {
	font-size: 1rem;
	font-weight: 200;
	color: var(--primaryBlack22);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card__title {
	font-size: 1rem;
	font-weight: 600;
	color: var(--primaryBlack);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card__detail {
	font-size: 1rem;
	font-weight: 200;
	color: var(--primaryBlack22);
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}
/* Buttons */
.primary__button {
	border: none;
	outline: none;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	height: 40px;
	border-radius: 0.4rem;
	font-weight: 400;
	padding: 0rem 1rem;
	background: var(--primaryBlue);
	color: var(--white);
}

.secondary__button {
	border: 1px solild var(--primaryBlue);
	outline: none;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	height: 40px;
	border-radius: 0.4rem;
	font-weight: 400;
	padding: 0rem 1rem;
	background: var(--white);
	color: var(--primaryBlue);
}

.container {
	width: 100%;
	border-radius: 0.4rem;
	background: var(--lightBlue);
	padding: 1rem;
}

/* Displya flex child  */
.child {
	flex: 1;
}

.form {
	width: 100%;
	height: 380px;
	border-radius: 0.5rem;
	transition: 1s ease;
	-webkit-box-shadow: 20px 20px 35px 15px rgba(51, 113, 242, 0.12);
	box-shadow: 20px 20px 35px 15px rgba(51, 113, 242, 0.08);
	padding: 2rem 2rem 2rem 2rem;
	overflow-y: auto;
}

.row {
	display: flex;
	/* background: red; */
	align-items: center;
}

/* scroll */

*::-webkit-scrollbar {
	width: 0.8rem;
	height: 0.8rem;
}

/* Track */
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px white;
	border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	background: var(--lightBlack);
	border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
	background: var(--primaryBlack22);
}
